.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: .3rem;
  text-transform: uppercase;
}

.text-blue {
  color: $mainBlue;
}

.text-bright {
  color: $lightBlue;
}